#myHead{
    text-align: center;
    background: aqua;
    font-size: 45px;
    color: darkblue;
    font-family: 'Risque', cursive;
}

h2{
    font-size: 40px;
    background-color: lightgreen;
    color: deeppink;
    text-align: center;
}
h3{
    color: darkmagenta;
    background:lightpink;
    font-size: 35px;
    font-family: monospace;
}